@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%; /* #F9FAFB */
    --foreground: 222 47% 11%; /* #111827 */

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 221 83% 53%; /* #2563EB */
    --primary-foreground: 210 40% 98%;

    --secondary: 216 12% 84%; /* #D1D5DB */
    --secondary-foreground: 222 47% 11%;

    --accent: 156 64% 51%; /* #34D399 */
    --accent-foreground: 222 47% 11%;

    --muted: 216 12% 84%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 216 12% 84%;
    --input: 216 12% 84%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;

    --accent: 156 64% 51%;
    --accent-foreground: 210 40% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 224 76% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
